@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}
.container{
    width: 360px;
    height: 580px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.09);
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fafafa;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 10%;
    position: sticky;
}
nav .nav-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
main{
    width: 100%;
    height: 80%;
}
main #stories::-webkit-scrollbar{
    width: 0;
}
main #stories{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fafafa;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 10%;
    position: sticky;
}
.story{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    transform: scale(0);
    transform-origin: top left;
}
.story .about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.story .about .info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
}
.story .about .info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background-position: bottom;
}
.story .about .info p{
    color: white;
    font-size: 16px;
    margin-left: 5px;
}
.story .about .info span{
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}
.story .reply{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.story .reply .input{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 30px;
    width: 80%;
}
.story .reply .input input{
    width: 100%;
    background-color: transparent;
    padding: 7px 7px 7px 0;
    outline: none;
    font-size: 16px;
    border: none;
}
.story .reply .actions{
    display: flex;
    align-items: center;
    gap: 15px;
}
img{
    cursor: pointer;
}
.fa-heart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 100px;
    transition: transform .15s ease-in-out;
    z-index: 150;
    opacity: 0;
    color: rgba(255, 255, 255, 0.65);
    transform-origin: center center;
}
@media screen and (max-width: 390px) {
    .container{
        width: 98%;
        height: 98vh;
    }
    footer img{
        width: 60px !important;
        height: 60px !important;
    }
}